@import "bootstrap-sprockets";
@import "bootstrap";

.main-container {
  font-size: 2rem;
  min-height: 100vh;
}

.crop-long-text {
  max-width: 700px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
