<p id="notice"><%= notice %></p>

<h1>Problem Requests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @problem_requests.each do |problem_request| %>
      <tr>
        <td><%= problem_request.name %></td>
        <td><%= problem_request.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
